.backgrnd{									/*фон*/
	background: linear-gradient(rgb(37, 37, 37), rgb(0, 0, 0));
}
p.text_in_head {
	color: #8a8a8a;
	font-family: Verdana;
	font-size: 30px;
	text-align: center;
	line-height: 1.0;
	font-weight: bold;
}
h1.main_text {								/*заголовок*/
	color: #aaaaaa;
	font-family: Serif;
	line-height: 2.0;
	font-size: 60pt;
	font-weight: bold;
	text-align: center;
}
header.main_text_head {
	background-color: #3b3a44; 
}
.for_blocks_video{
	margin-left: 25%;
	margin-right: 25%;
}
.for_blocks_audio{
	margin-left: 38%;
	margin-right: 35%;
}